{% with messages = get_flashed_messages(with_categories = true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="messages {{ category }}">
                <small>{{ message }}</small>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}