<nav class="navigation">
    <section class="container">
        <a class="navigation-title" href="{{ url_for('web.index') }}">
            <div class="title">
                <img class="logo" src="{{ url_for('web.static', filename='images/aeb.png') }}" alt="Logo">
            </div>
        </a>
        <ul class="navigation-list float-right">
            <li class="navigation-item"><a class="navigation-link" href="{{ url_for('events.list') }}">Events</a></li>
            <li class="navigation-item"><a class="navigation-link" href="{{ url_for('users.list') }}">Users</a></li>
            <li class="navigation-item"><a class="navigation-link" href="{{ url_for('notifications.list') }}">Notifications</a></li>
        </ul>
    </section>
</nav>