{% extends 'layout/base.html' %}

{% block content %}

<div class="container">
    <div class="clearfix">
        <h3 class="float-left">Notifications</h3>
        <div class="float-right">
            <a class="button button-primary" href="{{ url_for("notifications.new") }}">New</a>
        </div>
    </div>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Content</th>
                <th>Is Sended</th>
                <th>Sended At</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Actions</th>
        </thead>
        <tbody>
            {% for notification in notifications %}
            <tr>
                <td>{{ notification.id }}</td>
                <td>{{ notification.content | truncate(150) }}</td>
                <td>{% if notification.is_sended is true %} Yes {% else %} No {% endif %}</td>
                <td>
                    {% if notification.sended_at is none %}
                        -
                    {% else %}
                        {{ notification.sended_at | format_datetime }}
                    {% endif %}
                </td>
                <td>{{ notification.created_at | format_datetime }}</td>
                <td>{{ notification.updated_at | format_datetime }}</td>
                <td>
                    <a href="{{ url_for("notifications.edit", notification_id=notification.id) }}">
                        <i class="lni lni-pencil-alt"></i>
                    </a> |
                    <a href="{{ url_for("notifications.delete", notification_id=notification.id) }}">
                        <i class="lni lni-trash-can"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ pagination.links}}
</div>
{% endblock %}
