{% extends 'layout/base.html' %}

{% block content %}

<div class="container">
    <form method="POST" action="{{ url_for("events.new")}}">
        <fieldset>
            <label for="title">Title</label>
            <input type="text" placeholder="Title" name="title">
            <label for="description">Description</label>
            <textarea placeholder="Description" name="description"></textarea>
            <label for="image">Image</label>
            <select id="image" name="image">
                <option value="astrocal01.jpg">astrocal01.jpg</option>
                <option value="astrocal02.jpg">astrocal02.jpg</option>
                <option value="astrocal03.jpg">astrocal03.jpg</option>
                <option value="astrocal04.jpg">astrocal04.jpg</option>
                <option value="astrocal05.jpg">astrocal05.jpg</option>
                <option value="astrocal06.jpg">astrocal06.jpg</option>
                <option value="astrocal07.jpg">astrocal07.jpg</option>
                <option value="astrocal08.jpg">astrocal08.jpg</option>
                <option value="astrocal09.jpg">astrocal09.jpg</option>
                <option value="astrocal10.jpg">astrocal10.jpg</option>
                <option value="astrocal11.jpg">astrocal11.jpg</option>
                <option value="astrocal12.jpg">astrocal12.jpg</option>
                <option value="astrocal13.png">astrocal13.png</option>
                <option value="astrocal14.jpg">astrocal14.jpg</option>
                <option value="astrocal15.jpg">astrocal15.jpg</option>
                <option value="astrocal16.jpg">astrocal16.jpg</option>
            </select>
            <label for="dates">Dates</label>
            <input type="text" placeholder="1,2" name="dates">
            <label for="month">Month</label>
            <select name="month">
            {% for month in months %}
                <option value="{{ month['number'] }}">{{ month["name"] }}</option>
            {% endfor %}
            </select>
            <label for="year">Year</label>
            <input type="text" placeholder="2023" name="year">
            {% include "layout/flash.html" %}
            <div class="clearfix">
                <div class="float-left">
                    <a class="button button-outline" href="{{ url_for("events.list") }}">Back</a>
                </div>
                <div class="float-right">
                    <input class="button" type="submit" value="Save">
                </div>
            </div>
        </fieldset>
    </form>
</div>

{% endblock %}
